body{
    display: flex;
    background-color: rgb(130, 130, 126);
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;
}

#other{
    display: flex;
}

#maze{
    display: grid;
    grid-template-columns: repeat( 4, max-content);
    /* grid-template-columns: repeat( var(--GRID_WIDTH), max-content); */

}

.cell{
    width: var(--CELL-SIZE);
    height: var(--CELL-SIZE);
    /* width: 7em;
    height: 7em; */
    background-color: rgba(42, 111, 180, 0.5);
    border: rgba(214, 209, 209, 0.6) 1px dotted;
    box-sizing: border-box;
}

.north{
    border-top: 2px black solid;
}

.west{
    border-left: 2px black solid;
}

.east{
    border-right: 2px black solid;
}

.south{
    border-bottom: 2px black solid;
}

.cell.discovered{
    background-color: orange;
}

.cell.deadEnd{
    background-color: grey;
}


.cell.goal{
    background-color: yellow;
}

.cell.start{
    background-color: green;
}

.cell.correctPath{
    background-color: red;
}